@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-real: rgb(51, 113, 255);
  --hex-size: 50px; /* Width of hexagons */
  --hex-height: 200px; /* Adjust height for a perfect fit */
  --hex-height-inner: 190px;
  --hex-gap: 3px; /* Space between hexagons */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: rgb(51, 113, 255);
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-catamaran), sans-serif;
  overflow-x: hidden;
}

.hexagon {
  height: calc(100vw / 40 / 0.866 );/* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: white;
  transition: background 0.3s ease-out;
}

.hexagon-inner {
  height: calc((100vw / 40 / 0.866) - 7px); /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: white;
}

.hexagon:hover{
  background: black;
  transition: none;
}

.name{
  color: rgb(51, 113, 255);
  display: block;
  font-family: Catamaran, sans-serif;
  font-size: 120px;
  font-weight: 900;
  height: 100px;
  line-height: 100px;
  margin-block-end: 10px;
  margin-block-start: 0px;
  margin-bottom: 10px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  width: 632px;
}

.subheading {
  color: rgb(26, 32, 44);
  display: block;
  font-family: Catamaran, sans-serif;
  font-size: 30px;
  font-weight: 700;
  height: 117px;
  line-height: 39px;
  margin-block-end: 20px;
  margin-block-start: 0px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  width: 632px;
}

.navbar {
  width: 100%
}

.navbar .item:hover {
  border-radius: 10px;
  background: var(--blue-real);
  color: white
}