@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/customfont.woff2') format('woff2'),
       url('/fonts/customfont.woff') format('woff'),
       url('/fonts/customfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-real: rgb(51, 113, 255);
  --hex-size: 50px; /* Width of hexagons */
  --hex-height: 200px; /* Adjust height for a perfect fit */
  --hex-height-inner: 190px;
  --hex-gap: 3px; /* Space between hexagons */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

h1 {
  font-size: clamp(50px, 12vw, 80px);
  font-weight: bold;
  color: rgb(51, 113, 255);
}

h2 {
  display: block;
  color: black;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: semi-bold;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Catamaran Variable', sans-serif;
  overflow-x: hidden;
}

.hexagon {
  height: calc(100vw / 40 / 0.866 );/* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: white;
  transition: background 0.3s ease-out;
}

.hexagon-inner {
  height: calc((100vw / 40 / 0.866) - 7px); /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: white;
}

.hexagon:hover{
  background: black;
  transition: none;
}

.name{
  color: rgb(51, 113, 255);
  display: block;
  font-size: clamp(50px, 12vw, 120px);
  font-weight: 900;
  height: 100px;
  line-height: 100px;
  margin-block-end: 10px;
  margin-block-start: 0px;
  margin-bottom: 10px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  width: 692px;
}

@media (max-width: 640px) {  /* Adjust breakpoint if needed */
  .name {
    height: 70px;
  }
}

.subheading {
  color: rgb(26, 32, 44);
  display: block;
  font-size: clamp(15px, 3vw, 30px);
  font-weight: 700;
  height: 117px;
  min-height:50px;
  line-height: 39px;
  margin-block-start: 0px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  max-width: 692px;
  width: 100%;
}

@media (max-width: 640px) {  /* Adjust breakpoint if needed */
  .subheading {
    height: 90px;
  }
}

@media (max-width: 400px) {  /* Adjust breakpoint if needed */
  .subheading {
    height: 110px;
  }
}

.navbar {
  width: 100%
}

.navbar .item:hover {
  border-radius: 10px;
  background: var(--blue-real);
  color: white
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: height 0.5s ease, transform 0.5s ease;
  z-index: 2;
}

.container:hover .overlay {
  height: 100%;
}