@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/customfont.woff2') format('woff2'),
       url('/fonts/customfont.woff') format('woff'),
       url('/fonts/customfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue-real: rgb(51, 113, 255);
  --hex-size: 50px; /* Width of hexagons */
  --hex-height: 200px; /* Adjust height for a perfect fit */
  --hex-height-inner: 190px;
  --hex-gap: 3px; /* Space between hexagons */ --background: oklch(1 0 0); --foreground: oklch(0.145 0 0); --card: oklch(1 0 0); --card-foreground: oklch(0.145 0 0); --popover: oklch(1 0 0); --popover-foreground: oklch(0.145 0 0); --primary: oklch(0.205 0 0); --primary-foreground: oklch(0.985 0 0); --secondary: oklch(0.97 0 0); --secondary-foreground: oklch(0.205 0 0); --muted: oklch(0.97 0 0); --muted-foreground: oklch(0.556 0 0); --accent: oklch(0.97 0 0); --accent-foreground: oklch(0.205 0 0); --destructive: oklch(0.577 0.245 27.325); --destructive-foreground: oklch(0.577 0.245 27.325); --border: oklch(0.922 0 0); --input: oklch(0.922 0 0); --ring: oklch(0.708 0 0); --chart-1: oklch(0.646 0.222 41.116); --chart-2: oklch(0.6 0.118 184.704); --chart-3: oklch(0.398 0.07 227.392); --chart-4: oklch(0.828 0.189 84.429); --chart-5: oklch(0.769 0.188 70.08); --radius: 0.625rem; --sidebar: oklch(0.985 0 0); --sidebar-foreground: oklch(0.145 0 0); --sidebar-primary: oklch(0.205 0 0); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.97 0 0); --sidebar-accent-foreground: oklch(0.205 0 0); --sidebar-border: oklch(0.922 0 0); --sidebar-ring: oklch(0.708 0 0);

}

.button-color {
  background-color: white;
  color: rgb(30, 90, 230);
  border: 2px solid rgb(30, 90, 230);
}

.button-color:hover {
  background-color: rgb(30, 90, 230); /* Darker blue on hover */
  color: white;
}

h1 {
  font-size: clamp(50px, 12vw, 80px);
  font-weight: bold;
  color: rgb(51, 113, 255);
}

.project-name {
  font-size: clamp(30px, 4.6vw, 50px);
  font-weight: bold;
  color: black
}

.project-description {
  font-size: clamp(15px, 2vw, 20px);
}

h2 {
  display: block;
  color: black;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: semi-bold;
}

@media (max-width: 1500px) {  /* Adjust breakpoint if needed */
  h3 {
    font-size: 1.05em;
  }
}

body {
  font-family: 'Catamaran Variable', sans-serif;
  overflow-x: hidden;
}

.hexagon {
  height: calc(100vw / 40 / 0.866 );/* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: white;
  transition: background 0.3s ease-out;
}

.hexagon-inner {
  height: calc((100vw / 40 / 0.866) - 7px); /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: white;
}

.hexagon:hover{
  background: black;
  transition: none;
}

.name{
  color: rgb(51, 113, 255);
  display: block;
  font-size: clamp(50px, 12vw, 120px);
  font-weight: 900;
  height: 100px;
  line-height: 100px;
  margin-block-end: 10px;
  margin-block-start: 0px;
  margin-bottom: 10px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  width: 692px;
}

@media (max-width: 640px) {  /* Adjust breakpoint if needed */
  .name {
    height: 70px;
  }
}

.subheading {
  color: rgb(26, 32, 44);
  display: block;
  font-size: clamp(15px, 3vw, 30px);
  font-weight: 700;
  height: 117px;
  min-height:50px;
  line-height: 39px;
  margin-block-start: 0px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  max-width: 692px;
  width: 100%;
}

@media (max-width: 640px) {  /* Adjust breakpoint if needed */
  .subheading {
    height: 90px;
  }
}

@media (max-width: 400px) {  /* Adjust breakpoint if needed */
  .subheading {
    height: 110px;
  }
}

.navbar {
  width: 100%
}

.navbar .item:hover {
  border-radius: 10px;
  background: var(--blue-real);
  color: white
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: height 0.5s ease, transform 0.5s ease;
  z-index: 2;
}

.container:hover .overlay {
  height: 100%;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}